footer {
  margin: 1rem 0;

  .footer-widget {
    .copy {
      font-size: 0.75rem;
    }

    .advice {
      font-size: 0.7rem;
    }
  }
}

.footer-logos {
  img {
    margin: 1rem;

    @include media-breakpoint-down(lg) {
      margin: 0.5rem;
    }
  }
}
