// typography

.display-1 {
  font-size: 1.875rem;
  line-height: 1;
  margin: 0 0 2rem 0;
}

h2 {
  color: theme-color("secondary");
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
}

h3 {
  color: theme-color("tikol-black");
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

main {
  a {
    color: theme-color("secondary");
    text-decoration: underline;
  }
}

// take the corners off large buttons and put an arrow on it
.btn-lg {
  border-radius: 0;
  font-size: 1.5rem;

  span {
    &:last-child {
      padding-left: 1rem;
    }
  }
}

@include media-breakpoint-up(sm) {
  .display-1 {
    font-size: 4.25rem;
    line-height: 1;
  }
}

img {
  max-width: 100%;
}

hr {
  border-top: 2px solid rgba(0, 0, 0, 0.3);
}

.hidden_link {
  display: none;

  &-show {
    display: block;
  }
}

// responsive background images
[data-responsive-background-image] img {
  display: none;
}
