@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/aside";
@import "components/link-block";
@import "components/product-block";
@import "components/buttons";
@import "components/comments";
@import "components/hero-image";
@import "components/forms";
@import "components/wp-classes";
@import "components/navbar-custom";
@import "components/navbar-footer";
@import "components/event-list";
@import "components/article";
@import "components/block-media";
@import "components/carousel";
@import "components/feature-block";
@import "components/testimonial-block";
@import "components/login";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
// import slick
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";
// tikol overrides for slick
@import "components/slick-tikol.scss";
// event styles
@import "components/tribe-events.scss";
