.blue-button {
    background-color: #7DA7D9;
    border: 2px solid;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    display: block;
    float: left;
    height: 20px;
    margin-left: 25px;
    margin-top: 5px;
    padding: 10px;
}

.teal-button {
    background-color: #5CBCCA;
    border: 2px solid;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    display: block;
    float: left;
    height: 20px;
    margin-left: 25px;
    margin-top: 5px;
    padding: 10px;
}