.fa-ul {
  font-size: 1.1rem;

  li {
    margin: 2rem 0 4rem 0;

    .fa-li {
      color: theme-color("tikol_alt_blue");
      font-size: 3rem;
    }

    p {
      font-weight: 600;
      margin-bottom: 0;
    }
  }
}
