.testimonial {
  .testimonial_author {
    font-weight: 700;
  }

  .testimonial_role {
    color: theme-color("tikol_alt_blue");
    font-weight: 700;
  }

  .testimonial_quote {
    font-size: 1rem;
  }
}
